@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "GrotleyItalic";
    src: url("../fonts/Grotley-Italic.otf");
}

@font-face {
    font-family: "GrotleyRegular";
    src: url("../fonts/Grotley-Regular.otf");
}

@font-face {
    font-family: "Bagero";
    src: url("../fonts/Bagero.otf");
}